# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [4]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [6]:
cars = pd.concat([cars1, cars2])
cars = pd.concat([cars1, cars2], ignore_index=True) 
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [11]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([20283, 64910, 40518, 58868, 20104, 65415, 38006, 69269, 26959,
       67052, 17911, 34944, 39933, 58184, 63072, 50424, 34655, 52304,
       65657, 26677, 32002, 61928, 23466, 24375, 56798, 53812, 61947,
       16217, 72440, 24759, 24035, 57772, 43250, 38038, 40972, 30738,
       65659, 56868, 66679, 69179, 36126, 58075, 65657, 38302, 64503,
       72727, 68206, 22617, 18199, 55179, 68478, 30590, 45159, 21991,
       26554, 47643, 39118, 60906, 40790, 32937, 62092, 41193, 43999,
       61280, 15972, 46258, 53942, 69492, 36029, 42104, 38693, 22420,
       59359, 17857, 32299, 28337, 61723, 66245, 63395, 57886, 50533,
       70939, 46217, 26213, 40976, 62128, 33494, 53394, 62465, 43987,
       56622, 21203, 49657, 55428, 31406, 67080, 47595, 50595, 28662,
       68536, 33795, 20757, 43939, 28095, 32217, 48179, 29450, 68048,
       49026, 69614, 64917, 35852, 25889, 17269, 22599, 66308, 30800,
       16190, 54663, 56267, 58553, 54056, 51668, 52724, 57635, 51760,
       62679, 63450, 70705, 16332, 15527, 29905, 39829, 48238, 15385,
       49630, 42384, 72210, 28294, 64776, 20541, 44463, 46220, 49563,
       24753, 33050, 29938, 25871, 58390, 20784, 61474, 27503, 43358,
       36106, 53273, 52158, 63640, 40486, 29189, 62473, 54873, 48297,
       16733, 46999, 52533, 52228, 45303, 38270, 17790, 63212, 51569,
       36642, 26343, 32362, 27987, 69950, 21781, 39284, 56468, 36023,
       64472, 70408, 44589, 60701, 31682, 17375, 39069, 18507, 24778,
       60461, 31199, 38054, 54649, 59681, 72055, 53344, 25892, 32376,
       52168, 20373, 52636, 70538, 70197, 70957, 66754, 72558, 46922,
       55366, 34320, 33131, 17896, 21204, 29408, 30937, 26431, 30168,
       56634, 24904, 72295, 63207, 49257, 41435, 20069, 57002, 32123,
       56285, 28178, 16033, 16341, 34069, 33371, 67910, 40626, 55530,
       71609, 27311, 71242, 64172, 64150, 28631, 50452, 29758, 30128,
       28843, 64464, 62003, 71861, 36076, 36940, 22271, 42961, 24657,
       30539, 40254, 41457, 41349, 72068, 55247, 29207, 46479, 51483,
       28991, 48967, 34910, 41764, 22834, 31019, 19706, 20751, 20494,
       49338, 41847, 36784, 68438, 18153, 21845, 29635, 45970, 31045,
       72286, 48264, 20282, 39082, 17829, 35712, 42288, 68794, 54387,
       31910, 31689, 48538, 54847, 40851, 36683, 67936, 22261, 49356,
       30312, 59596, 16860, 70660, 30156, 59642, 51625, 72744, 32789,
       58874, 42302, 36038, 34395, 17262, 55237, 25559, 56585, 32691,
       51190, 69416, 41275, 34002, 19478, 48327, 66491, 24969, 55743,
       50506, 47925, 50511, 53502, 63574, 33638, 67572, 22121, 31165,
       32407, 28688, 70163, 43830, 43742, 35785, 62663, 35435, 31960,
       54895, 15228, 20000, 61588, 25703, 28573, 47263, 17826, 58231,
       46428, 31208, 39102, 49739, 23430, 53219, 67541, 33984, 60505,
       15853, 24769, 47826, 22182, 34739, 19892, 66740, 52755, 23126,
       38816, 20728, 19751, 48756, 55182, 20992, 71956, 23935, 42607,
       62368, 41801, 21172, 62651, 50080, 45105, 17715, 37181, 21527,
       29360, 22901, 41041, 45058, 34186, 68990, 48295, 70152, 25480,
       15247, 67449])

### Step 8. Add the column owners to cars

In [12]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,48295
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,70152
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,25480
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,15247
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,67449